#main{
    color:transparent;
}

#title{
    color:black;
    text-align: center;
}

body{
    background-color: ghostwhite;
}
h3{
    color: black;
    text-align: center;
}

#uno{
    height: 700px;
    width: 1200px;
    background-color:rgba(200, 236, 239, 0.666);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items:center;
    justify-content: center;
}

#img-div{
    
    /*height: 600px;
    width: 1100px;
    background-image: url("https://www.nawpic.com/media/2020/messi-nawpic-3-scaled.jpg");
    background-size: cover;
    */
    
}

#img-caption{
    color: black;
    align-items: flex-end;
    text-align: center;
}


#image{
    max-width: 100%;
    height: auto;
    display: block;
}

h2{
    color:brown;
    font-size: 20px;
    text-align: center;
}
ul{
    color: black;
    text-align:start;
}

li{
    line-height: 40px;
}
#tribute-info{

}

#messi{
    background-color:transparent;
    height: 700px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

p{
    color: black;
    text-align: center;
}

#tribute-link{
    color: blue;
}